*{
font-family: 'Roboto', sans-serif;
}


body{
    overflow-x: hidden;
    background-color: #07393C;
}


.bg-color-header{
    background:#2C666E;
}


.navbar-brand {
    max-width: 4em;
}


.carousel-control-prev{
    font-size: 4rem;
    color:#0F084B;
}


.carousel-control-next{
    font-size: 4rem;
    color: #0F084B;
}


.bi-cart4{
    font-size: 5rem;

}


.bi-building{
    font-size: 5rem;
}


.bi-house-heart-fill{
    font-size: 5rem;
}


.bi-map{
    font-size: 5rem;
}


#cartao{
    margin-top: -6.4rem;
    color:#2C666E;
    border-color: #07393C;
    border-radius: 2rem;
    border-width: 5px;
}
h5{
    color: rgb(255, 255, 255);
    font-size: 5rem;
    text-shadow:2px 2px 5px #0F084B;
}

@media (max-whidth:700px) {
    .mini-banners {
        margin-top: 3em; 
    }
}

.texto-primario{
    color: whitesmoke;
}